@*https://fontawesome.com/ - for icons*@
@using Microsoft.Extensions.Options
@inject IOptions<SSHConfigurator.Options.RecaptchaSettings> RecaptchaSettings
@model SSHConfigurator.ViewModels.HomeViewModel


<div class="card shadow rounded">

    <div class="card-header bg-dark text-white">
        <div class="text-center">
            <b>Available virtual machines</b>
        </div>
    </div>

    <div class="card-body mb-1">
        <div class="card rounded mt-1">
            <div class="card-body">

                <div class="row">
                    <div class="col-2">
                        <b>i-linux-01</b>
                    </div>
                    @*Display pub key file name*@
                    <div class="col text-center">
                        @if (Model.HasKey)
                        {
                            <i class="fas fa-check fa-2x" style="color:lawngreen"></i>
                            <p>Public key uploaded</p>
                        }
                        else
                        {
                            <i class="fas fa-times fa-2x" style="color:red"></i>
                            <p>No public key found</p>
                        }
                    </div>
                    @*Delete key function*@
                    <div class="col-3 text-right">
                        <form asp-action="DeleteKey" asp-controller="Home" asp-route-name="as"
                              method="post">
                            <input hidden class="Token" asp-for="Token" />
                            <a asp-action=UploadKey asp-controller="Home" class="btn btn-secondary"><i class=" fas fa-cloud-upload-alt"></i></a>
                            <button type="submit" class="text-white btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script src="https://www.google.com/recaptcha/api.js?render=@RecaptchaSettings.Value.ReCaptchaSiteKey"></script>

    <script>

            grecaptcha.ready(function () {
                grecaptcha.execute('@RecaptchaSettings.Value.ReCaptchaSiteKey', { action: 'submit' }).then(function (token) {
                    $('.Token').val(token);
                });
            });
    </script>

}